<div class="header">
  <span class="head_start">simple</span>
  <span class="head_end">user managment</span>
</div>
<div class="user_form">
  <div class="first_name"><input type="text" placeholder="First Name"></div>
  <div class="last_name"><input type="text" placeholder="Last Name"></div>
  <div class="email"><input type="text" placeholder="Email"></div>
  <div class="add_user">
    <div class="plus_img"></div>
    <div class="plus_txt"><span>add</span></div>
  </div>
</div>

<div class="user_list_head"></div>
<div class="user_list"></div>