<div class="edit_user" <%= (el) -> el.data( 'model', data ) %> >
  <div class="input_wrap first_name"><input type="text" class="form_input " placeholder="First Name" value="<%= data.name %>"></div>
  <div class="input_wrap last_name"><input type="text" class="form_input" placeholder="Last Name" value="<%= data.family %>"></div>
  <div class="input_wrap email"><input type="text" class="form_input" placeholder="Email" value="<%= data.email %>"></div>
  <div class="eu_delete"></div>
  <div class="eu_save_close"></div>
</div>