<div class="header">
  <span class="head_start">simple</span>
  <span class="head_end">user managment</span>
</div>
<div class="user_form">
  <div class="input_wrap first_name"><input type="text" class="form_input " placeholder="First Name"></div>
  <div class="input_wrap last_name"><input type="text" class="form_input" placeholder="Last Name"></div>
  <div class="input_wrap email"><input type="text" class="form_input" placeholder="Email"></div>
  <div class="add_user_btn">
    <div class="plus_img"></div>
    <div class="plus_txt"><span>add</span></div>
  </div>
</div>

<div class="user_list_head">
  <span>users</span>
</div>
<div class="user_list"></div>