<div class="header">
  <span class="head_start">simple</span>
  <span class="head_end">user managment</span>
</div>

<%== can.view.render('../app/users/ejs/user_form.ejs', {mode: 'create', data: {}}) %>

<div class="user_list_head">
  <span>users</span>
</div>
<div class="user_list"></div>